{% extends "base.html" %}

{%block title %}{%endblock%}

{% block content %}


<div class="media">
  <img src="..." class="mr-3" alt="Imagen no encontrada">
  <div class="media-body">
    <h5 class="mt-0">Detalles del Estadio</h5>
    <br>
    <h4>
Nombre: {{object.nombre}}<br>
Lugar de origen: {{object.lugar_origen}}<br>
Equipo: {{object.equipo}}<br>
<a href="{% url 'estadios' %}">|back|</a>
</h4>
  </div>
</div>


{%endblock%}