{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}

<h3>Jugadores</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>apellido</th>
		<th>apodo</th>
		<th>numero</th>
		<th>equipo</th>
		<th>Acciones</th>
	</tr>
</thead>
<tbody>
{% for jg in jugadores %}
<tr>
<td>{{jg.nombre}}</td>
<td>{{jg.apellido}}</td>
<td>{{jg.apodo}}</td>
<td>{{jg.numero}}</td>
<td>{{jg.equipo}}</td>
<td><a href="{% url 'detailjugador' id=jg.id %}">Detalles</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{%endblock%}