{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}

<h3>Equipos</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>Apodo</th>
		<th>Detalles</th>
	</tr>
</thead>
<tbody>
{% for jg in equipos %}
<tr>
<td>{{jg.nombre}}</td>
<td>{{jg.apodo}}</td>
<td><a href="{% url 'detailequipo' id=jg.id %}">Detalles</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{%endblock%}