{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}

<h3>Elige una posicion para ver sus jugadores</h3>
<br>
<div class = "list-group">
<a href="{% url 'listequipos3' nom='Quarterback' %}"  class="list-group-item list-group-item-action">Quarterback</a>
<a href="{% url 'listequipos3' nom='Receptor' %}" class="list-group-item list-group-item-action">Receptor</a>
<a href="{% url 'listequipos3' nom='Linebacker' %}" class="list-group-item list-group-item-action">Linebacker</a>
<a href="{% url 'listequipos3' nom='Tacleador' %}" class="list-group-item list-group-item-action">Tacleador</a>
<a href="{% url 'listequipos3' nom='Esquinero' %}" class="list-group-item list-group-item-action">Esquinero</a>
</div>
<br>
<br>

{%endblock%}