{% load staticfiles %}
<DOCTYPE HTML>
<HTML>
<HEAD>
	<title>{%block title%}{% endblock %}</title>
</HEAD>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<BODY>
<div class="container">
	{%block content %}
	
	{% endblock %}
</div>

</BODY>
</HTML>
